body {
  margin: 0;
  background-color: #F8F4A6;
}
.container {
  width: 80%;
  margin: 20px auto;
  border: 1px solid #000;
  padding: 10px;
  background-color: #fff;
}
.input-section {
  display: flex;
}
.input-section input {
  flex: 1;
  padding: 0 5px;
  flex: 1;
  font-size: 15px;
}
.input-section .save-btn {
  cursor: pointer;
  padding: 10px;
  background-color: #3ba065;
  border: 0;
  color: #fff;
}
.listing-section ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 20px;
}
.listing-section ul li {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}
.listing-section ul li span.done {
  text-decoration: line-through;
}
.listing-section ul li .close {
  background-color: #e11343;
  color: #fff;
  padding: 10px;
  cursor: pointer;
}
